.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 15px;
  color: #3DC59F;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all .15s linear;
}

.link:hover {
  color: #288968;
}

.header {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 28px;
  color: #141418;
  letter-spacing: 0;
  line-height: 30px;
  display: flex;
  margin-bottom: 20px;
}

.list {
  list-style: inside;
  margin: 3px 0 40px 2px;
}
