@value colors: "src/colors.css";
@value brandOffWhite from colors;
@value brandGreen from colors;
@value grey6 from colors;
@value grey2 from colors;

.listItem {
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 16px;
  padding: 27px;
}

.orgName {
  color: brandGreen;
}

.header {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 24px;
  color: #141418;
  line-height: 30px;
}

.orgName {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #9F9F9F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
}

.budget {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.description {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.dates {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #141418;
  letter-spacing: 0.4px;
  line-height: 16px;
}
