@value colors: "src/colors.css";
@value brandOffWhite from colors;
@value brandGreen from colors;
@value grey6 from colors;
@value grey2 from colors;

.listItem {
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 16px;
  padding: 27px;
}

.header {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 24px;
  color: #141418;
  line-height: 30px;
}

.orgName {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 2px;
}

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 72%;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #9F9F9F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
  width: 45%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bar {
  width: 52%;
}

.goalProgress {
  display: flex;
  align-items: center;
  width: 100%;
}

.goalProgress .label {
  margin-right: 11px;
}

.budget {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.description {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
  margin: 32px 0 23px 0;
}

.dates {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #141418;
  letter-spacing: 0.4px;
  line-height: 16px;
}

@media screen and (min-width: 1440px) {
  .listItem {
    width: 49.5%;
  }
  .summaryContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1439px) and (min-width: 980px) {
  .listItem {
    width: 49.5%;
  }
  .summaryContainer {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header {
    margin-bottom: 17px;
  }
  .summaryContainer {
    flex-direction: column;
    align-items: left;
    height: 73px;
    width: 100%;
  }
  .goalProgress {
    flex-direction: column;
    align-items: left;
  }
  .label {
    text-align: left;
  }
  .bar {
    width: 100%;
  }
}
