@value colors: "src/colors.css";
@value brandOffWhite, brandGreen, grey6, grey2, strongShadow from colors;

.listItem {
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.listItemFocused {
  box-shadow: 0 40px 100px 0 strongShadow;
}

.header {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 24px;
  color: #141418;
  line-height: 30px;
  border-bottom: 1px solid #EDF1F5;
}

.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 6px;
  text-decoration: none;
  display: table;
}

.greyLink {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: grey2;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 6px;
  text-decoration: none;
  display: table;
}

.donors {
  opacity: 0.4;
  color: #0F0F0F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.metaDivider {
  opacity: 0.4;
  color: #0F0F0F;
  margin-left: 10px;
  margin-right: 10px;
}

.metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardTop {
  padding: 27px;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 27px 15px 27px;
  background-color: #F8F9FB;
}

.cardBottomLeft {
  display: flex;
  align-items: center;
  width: 70%;
}

.lowercase {
  text-transform: lowercase;
}

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.thumbnailContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

.fieldsContainer {
  display: flex;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #0F0F0F;
  opacity: 0.4;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bar {
  width: 52%;
}

.notDone {
  background-color: #e1e8ef;
}

.bottomLabel {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 12px;
}

.bottomBar {
  width: 40%;
}

.ctaButton {
  font-family: 'nunito-sans', sans-serif;
  font-size: 15px;
  color: #3DC59F;
  letter-spacing: 0.6px;
  text-align: right;
  line-height: 30px;
}


.ctaButton:hover {
  color: #13A68C;
}

.goalfieldsContainer {
  width: 100%;
}

.budgetContainer {
  margin-right: 30px;
}

.goalProgress {
  display: flex;
  align-items: center;
}

.value {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
  margin: 14px 0 22px 0;
}

.emptyThumbnail {
  width: 120px;
  height: 120px;
  background: no-repeat url("assets/img/empty-thumbnail.svg") center;
  background-size: 48px 73px;
  background-color: #EDF1F5;
}

.thumbnail {
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid #EFEFEF;
  position: relative;
  background-size: cover;
}

.thumbnail:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.03;
  cursor: pointer;
}

.thumbnailCount {
  position: absolute;
  background-size: cover;
  box-sizing: border-box;
  width: 63px;
  height: 63px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  bottom: 0;
  right: 0;
}

.thumbnailCountOverlay {
  font-family: 'roboto-500', sans-serif;
  font-size: 18px;
  letter-spacing: 0.22px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px 4px 0 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
}

@media screen and (min-width: 1440px) {
  .header {
    padding-bottom: 23px;
    margin-bottom: 14px;
  }
  .textContainer {
    width: 78%;
  }
}

@media screen and (max-width: 1439px) and (min-width: 980px) {
  .header {
    padding-bottom: 23px;
    margin-bottom: 14px;
  }
  .textContainer {
    width: 70%;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .header {
    padding-bottom: 23px;
    margin-bottom: 14px;
  }
  .textContainer {
    width: 78%;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .header {
    padding-bottom: 21px;
    margin-bottom: 17px;
  }
  .summaryContainer {
    flex-direction: column;
    align-items: left;
  }
  .textContainer {
    width: 100%;
  }
  .fieldsContainer {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .goalProgress .label {
    width: unset;
  }
  .value {
    margin-left: 5px;
  }
  .bar {
    width: 65%;
  }
  .goalProgress {
    align-items: left;
  }
  .budgetContainer {
    margin-bottom: 4px;
  }
  .goalProgress {
    margin-bottom: 15px;
  }
  .thumbnailContainer {
    width: 100%;
  }
  .thumbnail {
    width: 100%;
  }
  .emptyThumbnail {
    width: 100%;
  }
  .thumbnailCount {
    height: 100%;
    border-top: none;
  }
  .description {
    margin: 17px 0 19px 0;
  }
  .cardBottom {
    align-items: center;
  }
  .cardBottomLeft {
    flex-direction: column;
    align-items: start;
  }
  .label {
    text-align: left;
  }
  .bottomBar {
    width: 100%;
  }
}
