.header {
  font-family: 'roboto-500', sans-serif;
  font-size: 13px;
  letter-spacing: .52px;
  color: #141418;
  display: flex;
  margin-bottom: 10px;
  padding: 6px 9px 0 9px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 180px;
  font-family: 'nunito-sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .4px;
  color: #9F9F9F;
  padding: 0 9px;
}

.item:last-of-type {
  padding-bottom: 1px;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .loc {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .loc {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
