@value colors: "src/colors.css";
@value weakShadow from colors;

.zoomControlContainer {
  box-shadow: 0px 20px 60px 0px rgba(37, 38, 50, 0.15) !important;
}


@media screen and (max-width: 979px) and (min-width: 768px) {
  .zoomControlContainer {
    display: none !important;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .zoomControlContainer {
    display: none !important;
  }
}
