@value colors: "src/colors.css";
@value strongShadow, weakShadow, brandOffWhite from colors;

.container {
  display: flex;
  box-sizing: border-box;
  width: 152px;
  background-color: white;
  z-index: 4;
}

.source {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 10px;
  color: #9F9F9F;
  margin-top: 7px;
}

.title {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  letter-spacing: 1.26px;
  color: #434346;
}

.legendItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.legendItem div {
  display: flex;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.label {
  font-size: 12px;
  font-family: 'nunito-sans', sans-serif;
  color: #9F9F9F;
}

.count {
  font-family: 'roboto-500', sans-serif;
  font-size: 13px;
  color: #141418;
}

@media screen and (min-width: 980px) {
  .container {
    position: absolute;
    flex-direction: column;
    right: 26px;
    bottom: 26px;
    width: 152px;
    padding: 15px 15px 9px 15px;
    border-radius: 2px;
    box-shadow: 0 40px 100px 0 strongShadow;
  }
  .title {
      line-height: 20px;
      margin-bottom: 7px;
    }
  .legendItem {
    margin: 6px 0;
  }
  .circle {
    margin: 0 11px 2px 0;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .container {
    justify-content: flex-end;
    flex-direction: row;
    height: 58px;
    width: 90%;
    position: relative;
    line-height: 30px;
    align-items: center;
  }
  .title {
    display: inline-flex;
  }
  .legendItem div {
    margin-right: 4px;
  }
  .circle {
    margin: 0 6px 2px 15px;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    height: 7vh;
    width: 80%;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    right: 0;
    bottom: 0;
    align-items: center;
  }
  .title {
    display: none;
  }
  .legendItem {
    max-width: 20%;
  }
  .legendItem div {
    max-width: 100%;
  }
  .circle {
    margin: 0 6px 2px 0px;
    min-width: 8px;
  }
  .label {
    margin-right: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .count {
    display: none;
  }
}

