@value colors: "src/colors.css";
@value brandGreen, grey2, brandOffWhite from colors;

.container > div {
  background-color: brandOffWhite;
  margin: 0 25px 2px 0;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.top {
  color: grey2;
  font-size: 13px;
  letter-spacing: 0.52px;
  line-height: 12px;
  align-items: center;
}

.middle {
  color: #141418;
  align-items: left;
}

.middle label {
  font-family: 'nunito-sans', sans-serif !important;
  font-size: 16px !important;
  color: #141418 !important;
  letter-spacing: 0 !important;
  line-height: 28px !important;
}

.bottom {
  font-family: 'nunito-sans', sans-serif;
  color: #97999A;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  align-items: left;
  opacity:
}

.barContainer {
  width: 70px;
}

.strength {
  margin-top: 12px;
  opacity: 0.4;
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #0F0F0F;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.tutorial {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.tutorial:hover {
  cursor: pointer;
}

.tutorialIcon {
  background-color: white;
  height: 20px;
  width: 30px;
  border-radius: 2px;
  margin-right: 8px;
}

.tutorialMeta {
  color: grey2;
  font-size: 11px;
  letter-spacing: 0.52px;
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    display: none !important;
  }
}
