@value colors: "src/colors.css";
@value brandGreen, grey2, brandOffWhite from colors;

.container > div {
  background-color: brandOffWhite;
  border-radius: 1px;
  margin-top: 2px;
  padding: 25px 20px;
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  color: grey2;
  font-size: 13px;
  letter-spacing: 0.52px;
  line-height: 12px;
}

.barContainer {
  width: 70px;
}

.middle {
  color: #141418;
}

.bottom {
  font-family: 'nunito-sans-400', sans-serif;
  color: grey2;
  font-size: 11px;
  letter-spacing: 0.52px;
  line-height: 13px;
}

.strength {
  margin-top: 12px;
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    display: none !important;
  }
}
