.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 13px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 6px;
  text-decoration: none;
  display: table;
}

.warning {
  font-family: 'nunito-sans', sans-serif;
  font-size: 13px;
  color: #FF0000;
  letter-spacing: 0.4px;
  margin: 12px 20px 5px 0;
}

.checkmark {
  width: 19px;
  height: 19px;
  margin: 7px 0 5px 11px;
  transition: all .15s linear;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
