.container {
  padding: 40px;
}

.buttonContainer {
  border-top: 1px solid #E1E7ED;
  padding: 20px 5%;
}

.mapContainer {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  width: 80%;
  height: 50vh;
}

.description {
  margin: 15px 0;
}
