.dropzone {
  min-height: 50vh;
  border: 2px dashed;
  border-radius: 10px;
  width: 80%;
  font-family: 'roboto', sans-serif;
  padding: 20px;
}

.active {
  border-color: #3DC587;
}

.inactive {
  border-color: #CACCD5;
}

.input {
  display: none;
}

.inputLabel {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 20px;
}

.previewListContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.previewContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.preview {
  height: 70px;
  width: auto;
  max-width: 140px;
}
