@value colors: "src/colors.css";
@value strongShadow from colors;

.poppaBear {
  position: relative;
}

.container {
  margin: 98px 10% 0 10%;
}

.header {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 48px;
  color: #141418;
  line-height: 62px;
  margin-bottom: 10px;
}

.subHeader {
  font-family: 'work-sans-300', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: #141418;
  margin-bottom: 40px;
}

.bg {
  content: "";
  width: 100%;
  height: calc(100% - 162px);
  background-color: #F3F5F7;
  position: absolute;
  left: 0;
  top: 260px;
  z-index: -1;
  display: block;
}


.itemContainer {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  margin: 0 3% 56px 0;
  transition: all .15s linear;
}

.itemContainer:hover {
  box-shadow: 0 40px 100px 0 strongShadow;
}

.emptyThumbnail {
  width: 100%;
  height: 256px;
  background: no-repeat url("assets/img/empty-thumbnail.svg") center;
  background-size: 60px 91px;
  background-color: #EDF1F5;
  float: left;
}

.video, .image {
  width: 100%;
  height: 256px;
  position: relative;
  background-size: 100%;
  float: left;
  z-index: 1;
}

.video:before {
  position: absolute;
  content: '';
  background-color: black;
  opacity: 0.45;
  z-index: 2;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px + 2px);
  left: calc(50% - 25px);
  border-radius: 50%;
}

.video:after {
  position: absolute;
  z-index: 3;
  content: '';
  margin: -13px -24px 0 0;
  border-width: 15px 9px 15px 9px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  top: 50%;
  left: 50%;
}

.message {
  font-family: 'work-sans-300', sans-serif;
  font-size: 16px;
  color: #141418;
  padding: 20px 20px;
  line-height: 25px;
  background-color: white;
  height: 75px;
}

.bold {
  font-family: 'work-sans-500', sans-serif;
}
