@value colors: "src/colors.css";
@value brandGreen from colors;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8vh;
  height: 8vh;
  background-color: brandGreen;
  color: white;
}
