.button {
  background: no-repeat url('assets/img/directions.svg');
  background-position: 29px 26px;
  display: inline-flex;
  width: 80px;
  height: 80px;
  background-color: #3DC59F;
}

.button:hover {
  background-color: #13A68C;
}

.button:hover:after {
  content: "CÓMO LLEGAR";
  font-family: 'nunito-sans-800', sans-serif;
  font-size: 11px;
  color: #3DC587;
  letter-spacing: 0.8px;
  line-height: 16px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  width: 48px;
  margin: 88px 0 0 15px;
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .button {
    background-position: 21px 20px;
    width: 64px;
    height: 64px;
  }
}
