@value colors: "src/colors.css";
@value brandGreen from colors;

.breadcrumbLinks {
  margin: 13px 0 65px 0;
}

.breadcrumbLinks a {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-decoration: none;
  color: #3DC59F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

.breadcrumbLinks span {
  display: inline-block;
}

.breadcrumbLinks span:not(:first-of-type) {
  margin-left: 20px;
}

.breadcrumbLinks span:not(:first-of-type) a:before {
  content: "";
  background: no-repeat url('assets/img/dropdown-arrow.svg');
  width: 5px;
  height: 5px;
  transform: rotate(-90deg);
  position: absolute;
  padding-right: 3px;
  margin: 7px 0 0 -14px;
}

.dmgLevel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 19px;
}

.dmgLevel .circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 6px 1px 0;
}

.dmgLevel .label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.placeName {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 48px;
  color: #141418;
  letter-spacing: -0.1px;
  line-height: 62px;
  display: flex;
  margin-bottom: 47px;
}


.vizHeader {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.vizLabel {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #9F9F9F;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-flex;
  margin-right: 16px;
}

.vizCount {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 48px;
  color: #141418;
  letter-spacing: -0.1px;
  line-height: 62px;
}

.dmgChartContainer {
  margin-top: 12px;
}

.barContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 326px;
}

.margMetricsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}

.margMetricsColumn {
  display: flex;
  flex-direction: column;
}

.chartLabel {
  color: red;
}

.barLabel {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 14px;
  color: #19191D;
  letter-spacing: 0.56px;
  line-height: 30px;
  width: 143px;
  /*display: inline-flex;*/
}

.map {
  height: 688px;
  margin-top: 100px;
}

.actionMetricsContainer {
  padding: 65px 25px 69px 25px;
}

.actionMetricsContainer .vizCount {
  color: brandGreen;
}

.actionProgress {
  margin-top: 27px;
}

.actionCardsContainer {
  background-color: #F6F8FA;
  padding: 21px 25px 5px 25px;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .breadcrumbLinks {
    margin-bottom: 73px;
  }
  .dmgChartContainer {
    margin-bottom: 32px;
  }
  .map {
    margin-top: 67px;
  }
  .actionCardsContainer {
    background-color: #F6F8FA;
    padding: 21px 20px 5px 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .breadcrumbLinks {
    margin-bottom: 73px;
    overflow: hidden;
    white-space: nowrap;
  }
  .breadcrumbLinks .communities {
    max-width: 25%;
  }
  .breadcrumbLinks .state {
    max-width: 23%;
  }
  .breadcrumbLinks .muni {
    max-width: 23%;
  }
  .breadcrumbLinks .loc {
    max-width: 23%;
  }
  .placeName {
    font-size: 38px;
    letter-spacing: -0.08px;
    line-height: 52px;
  }
  .dmgChartContainer {
    margin-bottom: 32px;
  }
  .margMetricsContainer {
    flex-direction: column;
  }
  .map {
    margin-top: 67px;
    border-bottom: 5px solid #F6F8FA;
  }
  .actionMetricsContainer {
    padding: 42px 0 50px 0;
  }
  .actionMetricsContainer .vizHeader {
    flex-direction: column;
    align-items: center;
  }
  .actionMetricsContainer .vizHeader .vizLabel {
    order: 2;
    text-align: center;
    margin-right: 0;
  }
  .actionMetricsContainer .vizHeader:nth-of-type(1) .vizCount {
    font-size: 24px;
    color: #9F9F9F;
    letter-spacing: 0;
    line-height: 46px;
  }
  .actionMetricsContainer .vizHeader:nth-of-type(1) .vizLabel {
    color: #CFCFCF;
  }
  .actionMetricsContainer .vizHeader:nth-of-type(2) {
    order: 3;
  }
  .actionMetricsContainer .vizHeader:nth-of-type(2) .vizCount {
    font-size: 24px;
    color: #9F9F9F;
    letter-spacing: 0;
    line-height: 46px;
  }
  .actionMetricsContainer .vizHeader:nth-of-type(2) .vizLabel {
    color: #CFCFCF;
  }
  .actionProgress {
    border-top: 1px solid #F6F8FA;
    margin-top: 44px;
    padding: 38px 16px 0 16px;
  }
  .actionProgress .vizLabel {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-right: 0px;
  }
  .actionCardsContainer {
    background-color: #F6F8FA;
    padding: 21px 20px 5px 20px;
  }
}
