@media screen and (min-width: 1400px) {

// HERO

header {
  margin-bottom: 188px;
  padding: 28px 5px 0 5px;
  h1 {
    margin: 189px 0 12px 0;
  }
  #hero-img-wrap {
    width: 57.5%;
  }
  #hero-content {
    p {
      width: 88%;
      margin-bottom: 40px;
    }
  }
}

// LOGO WALL

#logo-wall {
  margin-bottom: 88px;
}

// FEATURES

#feature1, #feature2, #feature3 {
  p {
    margin-bottom: 21px;
  }
}

#feature1 {
  h2 {
    margin: 180px 0 10px 0;
    width: 330px;
  }
}

#feature2 {
  .tag {
    margin-top: 275px;
  }
}

#feature3 {
  margin-bottom: 199px;
  .tag {
    margin-top: 82px;
  }
}

#feature2, #feature3 {
  h2 {
    margin: 20px 0 10px 0;
    width: 330px;
  }
  p {
    margin-bottom: 21px;
  }
}

// FOOTER

footer {
  margin-top: 45px;
  padding: 212px 0 34px 0;
  #footer-img {
    height: 720px;
  }
  #footer-img-wrap {
    width: 50%;
  }
  h2 {
    margin-bottom: 21px;
  }
  p {
    margin-bottom: 27px;
  }
  button {
    margin-bottom: 156px; 
  }
}

// GENERAL

  .lg-hidden {
    display: none;
    visibility: 0;
  }

  .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12 {
    box-sizing: border-box;
    @include flex(0, 0, auto);
    padding-right: 14px;
    padding-left: 14px;
  }
  .col-lg {
    @include flex-grow(1);
    @include flex-basis(0);
    max-width: 100%;
  }
  .col-lg-1 {
    @include flex-basis(8.333%);
    max-width: 8.333%;
  }
  .col-lg-2 {
    @include flex-basis(16.667%);
    max-width: 16.667%;
  }
  .col-lg-3 {
    @include flex-basis(25%);
    max-width: 25%;
  }
  .col-lg-4 {
    @include flex-basis(33.333%);
    max-width: 33.333%;
  }
  .col-lg-5 {
    @include flex-basis(41.667%);
    max-width: 41.667%;
  }
  .col-lg-6 {
    @include flex-basis(50%);
    max-width: 50%;
  }
  .col-lg-7 {
    @include flex-basis(58.333%);
    max-width: 58.333%;
  }
  .col-lg-8 {
    @include flex-basis(66.667%);
    max-width: 66.667%;
  }
  .col-lg-9 {
    @include flex-basis(75%);
    max-width: 75%;
  }
  .col-lg-10 {
    @include flex-basis(83.333%);
    max-width: 83.333%;
  }
  .col-lg-11 {
    @include flex-basis(91.667%);
    max-width: 91.667%;
  }
  .col-lg-12 {
    @include flex-basis(100%);
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .stretch-lg {
    @include align-items(stretch); 
  }
  .flex-lg {
    @include flexbox;
  }
  .start-lg {
    @include justify-content(flex-start);
    text-align: start;
  }
  .center-lg {
    @include flexbox;
    @include justify-content(center);
    text-align: center;
  }
  .end-lg {
    @include justify-content(flex-end);
    text-align: end;
  }
  .top-lg {
    @include align-items(flex-start);
    @include flexbox;
  }
  .middle-lg {
    @include align-items(center);
    @include flexbox;
  }
  .bottom-lg {
    @include align-items(flex-end);
    @include flexbox;
  }
  .around-lg {
    @include justify-content(space-around);
  }
  .between-lg {
    @include justify-content(space-between);
  }
  .first-lg {
    @include order(-1);
  }
  .last-lg {
    @include order(1);
  }
}