// _sm.scss
@media screen and (min-width: 600px) {

// GENERAL

.sm-hidden {
  display: none !important;
}
.col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12 {
  box-sizing: border-box;
  @include flex(0, 0, auto);
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}
.col-sm {
  @include flex-grow(1);
  @include flex-basis(0);
  max-width: 100%;
}
.col-sm-1 {
  @include flex-basis(8.333%);
  max-width: 8.333%;
}
.col-sm-2 {
  @include flex-basis(16.667%);
  max-width: 16.667%;
}
.col-sm-3 {
  @include flex-basis(25%);
  max-width: 25%;
}
.col-sm-4 {
  @include flex-basis(33.333%);
  max-width: 33.333%;
}
.col-sm-5 {
  @include flex-basis(41.667%);
  max-width: 41.667%;
}
.col-sm-6 {
  @include flex-basis(50%);
  max-width: 50%;
}
.col-sm-7 {
  @include flex-basis(58.333%);
  max-width: 58.333%;
}
.col-sm-8 {
  @include flex-basis(66.667%);
  max-width: 66.667%;
}
.col-sm-9 {
  @include flex-basis(75%);
  max-width: 75%;
}
.col-sm-10 {
  @include flex-basis(83.333%);
  max-width: 83.333%;
}
.col-sm-11 {
  @include flex-basis(91.667%);
  max-width: 91.667%;
}
.col-sm-12 {
  @include flex-basis(100%);
  max-width: 100%;
}
.col-sm-offset-1 {
  margin-left: 8.333%;
}
.col-sm-offset-2 {
  margin-left: 16.667%;
}
.col-sm-offset-3 {
  margin-left: 25%;
}
.col-sm-offset-4 {
  margin-left: 33.333%;
}
.col-sm-offset-5 {
  margin-left: 41.667%;
}
.col-sm-offset-6 {
  margin-left: 50%;
}
.col-sm-offset-7 {
  margin-left: 58.333%;
}
.col-sm-offset-8 {
  margin-left: 66.667%;
}
.col-sm-offset-9 {
  margin-left: 75%;
}
.col-sm-offset-10 {
  margin-left: 83.333%;
}
.col-sm-offset-11 {
  margin-left: 91.667%;
}
.stretch-sm {
  @include align-items(stretch); 
}
.flex-sm {
  @include flexbox;
}
.start-sm {
  @include justify-content(flex-start);
  text-align: start;
}
.center-sm {
  @include flexbox;
  @include justify-content(center);
    // @include align-items(center); 
    text-align: center;
  }
  .end-sm {
    @include justify-content(flex-end);
    text-align: end;
  }
  .top-sm {
    @include align-items(flex-start);
  }
  .middle-sm {
    @include align-items(center);
    @include flexbox;
  }
  .bottom-sm {
    @include align-items(flex-end);
  }
  .around-sm {
    @include justify-content(space-around);
  }
  .between-sm {
    @include justify-content(space-between);
    @include flexbox;
  }
  .first-sm {
    @include order(-1);
  }
  
  .last-sm {
    @include order(1);
  }
}