// _xs.scss
@media screen and (max-width: 767px) and (min-width: 320px) {

// TYPE

h1 {
  font-size: 56px;
  line-height: 54px;
}

h2 {
  font-size: 39px;
}

// HERO

body header {
  height: auto;
  button.green {
    padding: 16px 52px 14px 52px;
  }
  #logo {
    text-align: center;
    display: block;
    padding-top: 3px;
    img {
      width: 96px;
      height: auto;
    }
  }
  margin-bottom: 54px;
  padding: 28px 5px 0 5px;
  h1 {
    margin: 102vh 0 22px 0;
  }
  #hero-img-wrap {
    width: 100%;
    top: 84px;
  }
  #hero-img {
    background-position: center;
    height: 88vh;
    opacity: 1;
  }
  #hero-content {
    text-align: center;
    p {
      margin-bottom: 22px;
    }
  }
}

// LOGO WALL

section#logo-wall {
  margin-bottom: 95px;
  padding: 22px;
}

// FEATURES

#feature1, #feature2, #feature3 {
  button.green {
    padding: 12px 39px 10px 39px;
  }
  text-align: center;
}

section#feature1 {
  margin-top: 0px;
  p {
    width: 90%;
    margin: 0 auto 21px auto;
  }
  margin-bottom: -12px;
  #feature1-img {
    background: url(../assets/img/feature1-xs.png) no-repeat center;
    background-size: 385px 410px;
    width: 385px;
    height: 410px;
  }
  h2 {
    margin: 0 0 10px 0;
  }
}

#feature2 {
  p {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  margin-bottom: -24px;
  #feature2-img {
    background: url(../assets/img/feature2-xs.png) no-repeat center;
    background-size: 548px 593px;
    width: 548px;
    height: 593px;
  }
  .tag {
    margin-top: 50px;
  }
}

#feature3 {
  margin-bottom: 81px;
  p {
    margin-bottom: 41px;
  }
  #feature3-img {
    background: url(../assets/img/feature3-xs.png) no-repeat center;
    background-size: 456px 233px;
    width: 456px;
    height: 233px;
  }
}

#feature2, #feature3 {
  h2 {
    margin: 20px 0 10px 0;
  }
}

// FOOTER

footer {
  text-align: center;
  padding: 360px 0 34px 0;
  #footer-img {
    height: 291px;
  }
  #footer-img-wrap {
    width: 100%;
    bottom: 510px;
  }
  h2 {
    margin-bottom: 21px;
  }
  p {
    margin: 0 auto 27px auto;
    width: 90%;
  }
  button {
    margin-bottom: 89px; 
  }
}

// MAP

header#beta {
  height: 54px;
  margin-bottom: 0px;
  padding: 28px 25px 0 25px;
  #logo {
    text-align: left;
  }
}

// GENERAL

.container {
  padding: 0px;
}

.xs-hidden {
  display: none !important;
}

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-offset-1, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12 {
  box-sizing: border-box;
  @include flex(0, 0, auto);
  padding-right: 0px;
  padding-left: 0px;
}

.col-xs {
  @include flex-grow(1);
  @include flex-basis(0);
  max-width: 100%;
}
.col-xs-1 {
  @include flex-basis(8.333%);
  max-width: 8.333%;
}
.col-xs-2 {
  @include flex-basis(16.667%);
  max-width: 16.667%;
}
.col-xs-3 {
  @include flex-basis(25%);
  max-width: 25%;
}
.col-xs-4 {
  @include flex-basis(33.333%);
  max-width: 33.333%;
}
.col-xs-5 {
  @include flex-basis(41.667%);
  max-width: 41.667%;
}
.col-xs-6 {
  @include flex-basis(50%);
  max-width: 50%;
}
.col-xs-7 {
  @include flex-basis(58.333%);
  max-width: 58.333%;
}
.col-xs-8 {
  @include flex-basis(66.667%);
  max-width: 66.667%;
}
.col-xs-9 {
  @include flex-basis(75%);
  max-width: 75%;
}
.col-xs-10 {
  @include flex-basis(83.333%);
  max-width: 83.333%;
}
.col-xs-11 {
  @include flex-basis(91.667%);
  max-width: 91.667%;
}
.col-xs-12 {
  @include flex-basis(100%);
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.stretch-xs {
  @include align-items(stretch); 
}

.flex-xs {
  @include flexbox;
}

.start-xs {
  @include justify-content(flex-start);
  text-align: start;
}

.center-xs {
  @include flexbox;
  @include justify-content(center);
  // @include align-items(center); 
  text-align: center;
}

.end-xs {
  @include justify-content(flex-end);
  text-align: end;
}

.top-xs {
  @include align-items(flex-start);
}

.middle-xs {
  @include align-items(center);
}

.bottom-xs {
  @include align-items(flex-end);
}

.around-xs {
  @include justify-content(space-around);
}

.between-xs {
  @include justify-content(space-between);
}

.first-xs {
  @include order(-1);
}

.last-xs {
  @include order(1);
}
}