@value colors: "src/colors.css";
@value brandGreen from colors;

.barsContainer {
  display: flex;
  flex-direction: row;
  margin: 5px 0 8px 0;
  padding: 8px 0;
  cursor: pointer;
}

.bar {
  background-color: brandGreen;
  height: 4px;
  width: 100%;
  margin-right: 3px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.label {
  color: brandGreen;
  font-family: 'roboto-200', sans-serif;
  font-size: 14px;
  letter-spacing: 0.56px;
  margin-right: 39px;
}
