@value colors: "src/colors.css";
@value brandOffWhite from colors;

.listItem {
  border-left: 4px solid #939aa1;
  box-sizing: border-box;
}

.listItemWrapper {
  border-top: 1px solid brandOffWhite;
  box-sizing: border-box;
  padding: 16px 25px 20px 21px;
}

.listItem:hover {
  cursor: pointer;
  border-left: 6px solid #E11717;
  background-color: #FBFCFD;
}

.listItem:hover .listItemWrapper {
  padding-left: 19px;
}

.listItemHeader {
  font-family: 'work-sans-300', sans-serif;
  font-size: 19px;
  line-height: 32px;
  color: #141418;
  display: flex;
  flex-direction: row;
}

.locName {
  max-width: 279px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listItemMetricsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.listItemMetrics {
  flex: 1;
}

.value {
  font-family: 'roboto-500', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .18px;
  color: #141418;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .37px;
  color: #9F9F9F;
  text-transform: uppercase;
  display: flex;
  margin-top: 4px;
}
