@value colors: "src/colors.css";
@value brandOffWhite from colors;

.listItem {
  border-left: 4px solid #939aa1;
  box-sizing: border-box;
}

.listItemWrapper {
  border-top: 1px solid brandOffWhite;
  box-sizing: border-box;
  padding: 16px 25px 20px 21px;
}

.listItem:hover {
  cursor: pointer;
  border-left: 6px solid #E11717;
  background-color: #FBFCFD;
}

.listItem:hover .listItemWrapper {
  padding-left: 19px;
}

.listItemHeader {
  font-family: 'work-sans-300', sans-serif;
  font-size: 19px;
  line-height: 32px;
  color: #141418;
  display: flex;
  flex-direction: row;
}

.locName {
  max-width: 279px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listItemMetrics {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.value {
  font-family: 'roboto-500', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .18px;
  color: #141418;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .37px;
  color: #9F9F9F;
  text-transform: uppercase;
  display: flex;
  margin-top: 4px;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .listItem {
    width: 486px;
    height: 162px;
    margin: 13px 6px 11px 6px;
    border-left: unset;
    border-bottom: 4px solid #939aa1;
    box-sizing: border-box;
  }
  .listItem:hover {
    border-left: unset;
    background-color: #FBFCFD;
    border-bottom-width: 6px;
  }
  .listItem:hover .listItemWrapper {
    padding-left: 23px;
  }
  .listItemWrapper {
    border-top: 1px solid brandOffWhite;
    border-right: 1px solid brandOffWhite;
    border-left: 1px solid brandOffWhite;
    height: 100%;
    width: 432px;
    padding: 24px 43px 34px 23px;
  }
  .listItemMetrics {
    justify-content: space-between;
  }
  .locName {
    max-width: 333px;
  }
  .label {
    width: 83px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .listItem {
    width: 332px;
    height: 126px;
    margin: 13px 0px 0px 12px;
    border-left: unset;
    border-bottom: 4px solid #939aa1;
    box-sizing: border-box;
  }
  .listItem:hover {
    border-left: unset;
    background-color: #FBFCFD;
    border-bottom-width: 6px;
  }
  .listItem:hover .listItemWrapper {
    padding-left: 20px;
  }
  .listItemWrapper {
    border-top: 1px solid brandOffWhite;
    border-right: 1px solid brandOffWhite;
    border-left: 1px solid brandOffWhite;
    height: 100%;
    width: 332px;
    padding: 12px 25px 13px 20px;
  }
  .listItemMetrics {
    justify-content: space-between;
    margin-top: 3px;
  }
  .listItemHeader {
    font-size: 16px;
    line-height: 32px;
  }
  .locName {
    max-width: 259px;
  }
  .label {
    width: 83px;
  }
}
