.container {
  display: flex;
  flex-direction: column;
}

.container span {
  margin: 10px 10px 10px 10px;
}

.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 15px;
  color: #3DC59F;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: #13A68C;
}
