.container {
  position: relative;
}

.tooltip {
  z-index: 2;
  position: absolute;
  background-color: #EDF1F5;
  text-align: left;
  font-family: 'roboto-700', sans-serif;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 19px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

.tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #EDF1F5 transparent transparent transparent;
}
