.container {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1;
  margin-right: 20px;
}

.right {
  flex: 1;
}

.opsMap {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  margin-top: 18px;
  width: 250px;
  height: 250px;
}

.subtitle {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  color: #434346;
  letter-spacing: 1.26px;
  line-height: 20px;
}

.mapMeta {
  margin-top: 20px;
}
