.container {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 2;
  margin-right: 20px;
}

.rightTemp {
  flex: 1;
}

.right {
  flex: 1;
  display: none;
}

.position {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 28px;
  color: #141418;
  letter-spacing: 0;
  line-height: 30px;
  display: flex;
  margin-bottom: 11px;
}

.text {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 22px;
  display: flex;
  margin-bottom: 34px;
}

.list {
  list-style: inside;
  margin: 3px 0 40px 2px;
}

.item {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 22px;
}

.title {
  opacity: 0.8;
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  color: #141418;
  letter-spacing: 1.26px;
  line-height: 20px;
  display: flex;
}

.opsMap {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  margin-top: 18px;
  width: 250px;
  height: 250px;
}

.subtitle {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  color: #434346;
  letter-spacing: 1.26px;
  line-height: 20px;
}

.mapMeta {
  margin-top: 20px;
}
