.selectorContent {
  width: 35%;
}

.selectorContentWide {
  width: 55%;
}

.container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(76, 86, 97, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}

.content {
  position: relative;
  z-index: 10;
  display: block;
  overflow: scroll;
  background-color: white;
  padding: 40px 40px 100px 40px;
  border-radius: 2px;
  box-sizing: border-box;
}

.contentTransparent {
  width: 100% !important;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  overflow: scroll;
  border-radius: 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.contentTransparent .closeButton {
  background: no-repeat url("assets/img/close-gallery.svg") top right;
}

.closeButton {
  background: no-repeat url("assets/img/close-modal.svg") top right;
  background-size: 14px 14px;
  width: 73px;
  height: 73px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 11;
  opacity: 1.0;
}

.closeButton:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1439px) and (min-width: 980px) {
  .selectorContent {
    width: 45%;
  }
  .selectorContentWide {
    width: 65%;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .selectorContent {
    width: 48%;
  }
  .selectorContentWide {
    width: 75%;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .selectorContent {
    width: 90%;
  }
  .selectorContentWide {
    width: 90%;
  }
}
