.overlay {

}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  background-color: white;
  overflow: auto;
}

.closeButton {
  font-family: 'nunito-sans-800', sans-serif;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 45px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.6;
  color: black;
}

.closeButton:hover {
  opacity: 1.0;
}
