.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  z-index: 10;
  background-color: white;
}

.closeButton {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 45px;
  cursor: pointer;
  z-index: 11;
  opacity: 0.6;
  color: black;
}

.closeButton:hover {
  opacity: 1.0;
}
