.breadcrumbLinks a {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-decoration: none;
  color: #3DC59F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

a {
  transition: all .15s linear;
}

a:hover {
  color: #13A68C;
}

.breadcrumbLinks span {
  display: inline-block;
}

.breadcrumbLinks span:not(:first-of-type) {
  margin-left: 20px;
}

.breadcrumbLinks span:not(:first-of-type) a:before {
  content: "";
  background: no-repeat url('assets/img/dropdown-arrow.svg');
  width: 5px;
  height: 5px;
  transform: rotate(-90deg);
  position: absolute;
  padding-right: 3px;
  margin: 7px 0 0 -14px;
}

.name {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 48px;
  color: #141418;
  letter-spacing: -0.1px;
  line-height: 62px;
  margin-bottom: 31px;
}

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.fieldLabel {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 13px;
  color: #0F0F0F;
  letter-spacing: 0.35px;
  line-height: 16px;
  opacity: 0.4;
}

.fieldValue {
  font-family: 'work-sans-300', sans-serif;
  font-size: 18px;
  color: #141418;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis {
  transition: all .15s linear;
  -webkit-text-fill-color: #3DC587;
}

.ellipsis:hover {
  -webkit-text-fill-color: #13A68C;
}

.fieldValue a {
  color: #3DC587;
  text-decoration: none;
}

.button {
  display: inline-flex;
  width: 80px;
  height: 80px;
  background-color: #3DC59F;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.buttonsContainer {
  margin-top: -13px;
}

.website {
  background-image: url('assets/img/website.svg');
}

.email {
  background-image: url('assets/img/email.svg');
}

.opsMap {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  margin-top: 18px;
}

.subtitle {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  color: #434346;
  letter-spacing: 1.26px;
  line-height: 20px;
}

.addressFields {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #6F6F6F;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.mission {
  font-family: 'work-sans-300', sans-serif;
  font-size: 18px;
  color: #141418;
  line-height: 32px;
  display: flex;
}

.metricsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metric {
  display: flex;
  align-items: center;
}

.emptyMetric {
  display: flex;
  align-items: center;
  opacity: 0.2;
}

.metricLabel {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #9F9F9F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 6px 16px 0 0;
}

.metricValue {
  font-family: 'nunito-sans-200';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 48px;
  color: #3DC587;
  letter-spacing: -0.1px;
  line-height: 62px;
}

.actionListContainer {
  background-color: #F6F8FA;
}

.cardsContainer {
  background-color: #F6F8FA;
  display: flex;
  flex-direction: column;
}

.emptyMetric .metricValue {
  color: #0F0F0F;
}

.emptyMetric .metricLabel {
  color: #0F0F0F;
}

@media screen and (min-width: 1440px) {
  .breadcrumbLinks {
    margin: 13px 0 99px 0;
  }
  .summaryContainer {
    margin-bottom: 22px;
  }
  .mission {
    margin-bottom: 40px;
  }
  .buttonsContainer {
    margin-bottom: 37px;
  }
  .button:hover {
    background-color: #13A68C;
  }
  .ops {
    margin-top: 27px;
  }
  .opsMap {
    width: 250px;
    height: 250px;
  }
  .website {
    margin-right: 6px;
  }
  .actionsContainer {
    margin-top: 55px;
  }
  .cardsContainer {
    padding: 21px 0 0 25px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 980px) {
  .breadcrumbLinks {
    margin: 13px 0 99px 0;
  }
  .summaryContainer {
    margin-bottom: 22px;
  }
  .mission {
    margin-bottom: 40px;
  }
  .buttonsContainer {
    margin-bottom: 37px;
  }
  .button {
    width: 72px;
    height: 72px;
  }
  .button:hover {
    background-color: #13A68C;
  }
  .website {
    margin-right: 6px;
  }
  .ops {
    margin-top: 27px;
  }
  .opsMap {
    width: 222px;
    height: 250px;
  }
  .actionsContainer {
    margin-top: 55px;
  }
  .cardsContainer {
    padding: 21px 0 0 25px;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .breadcrumbLinks {
    margin: 13px 0 97px 0;
  }
  .summaryContainer {
    margin-bottom: 22px;
  }
  .mission {
    margin-bottom: 40px;
  }
  .buttonsContainer {
    position: absolute;
    top: 102px;
    right: 19px;
  }
  .button {
    width: 72px;
    height: 72px;
  }
  .button:hover {
    background-color: #13A68C;
  }
  .website {
    margin-right: 6px;
  }
  .metricsContainer {
    margin-bottom: 47px;
  }
  .hq .subtitle {
    margin-bottom: 11px;
  }
  .opsMap {
    width: 370px;
    height: 128px;
  }
  .actionsContainer {
    margin-top: 55px;
  }
  .cardsContainer {
    padding: 26px 20px 0 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .breadcrumbLinks {
    padding: 0 16px;
    margin: 13px 0 44px 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .breadcrumbLinks .orgList {
    max-width: 25%;
  }
  .breadcrumbLinks .sector {
    max-width: 25%;
  }
  .breadcrumbLinks .orgDetail {
    max-width: 50%;
  }
  .name {
    padding: 0 16px;
  }
  .summaryContainer {
    padding: 0 16px;
    margin-bottom: 0px;
    justify-content: unset;
    flex-wrap: wrap;
  }
  .fieldContainer {
    margin: 0 40px 22px 0;
  }
  .mission {
    padding: 0 16px;
    margin-bottom: 40px;
  }
  .buttonsContainer {
    width: 100%;
    padding: 25px 20% 52px 20%;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F2F2F4;
    border-bottom: 1px solid #F2F2F4;
  }
  .button {
    width: 72px;
    height: 52px;
    background-color: white;
  }
  .button:after {
    position: relative;
    top: 100%;
    margin: 0 auto;
  }
  .website {
    background-image: url('assets/img/website-dark.svg');
  }
  .website:after {
    content: 'Web';
    font-family: 'nunito-sans', sans-serif;
    font-size: 12px;
    color: #3DC59F;
    letter-spacing: 0.4px;
    line-height: 16px;
  }
  .email {
    background-image: url('assets/img/email-dark.svg');
  }
  .email:after {
    content: 'Correo';
    font-family: 'nunito-sans', sans-serif;
    font-size: 12px;
    color: #3DC59F;
    letter-spacing: 0.4px;
    line-height: 16px;
  }
  .metricsContainer {
    padding-top: 23px;
    margin-bottom: 47px;
    border-top: 1px solid #F2F2F4;
    align-items: baseline;
  }
  .metric {
    flex-direction: column;
  }
  .emptyMetric {
    flex-direction: column;
  }
  .metricsContainer div:nth-child(1) {
    order: 2;
  }
  .metricsContainer div:nth-child(2) {
    order: 3;
    padding-right: 16px;
  }
  .metricsContainer div:nth-child(3) {
    order: 1;
    padding-left: 16px;
  }
  .metricsContainer div:nth-child(1) .metricValue {
    margin-bottom: 2px;
  }
  .metricsContainer div:nth-child(2) .metricLabel {
    color: #CFCFCF;
  }
  .metricsContainer div:nth-child(2) .metricValue {
    font-size: 24px;
    color: #9F9F9F;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 11px;
  }
  .metricsContainer div:nth-child(3) .metricLabel {
    color: #CFCFCF;
  }
  .metricsContainer div:nth-child(3) .metricValue {
    font-size: 24px;
    color: #9F9F9F;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 11px;
  }
  .metricLabel {
    order: 1;
    margin: 2px 0 0 0;
    text-align: center;
  }
  .hq .subtitle {
    margin-bottom: 11px;
  }
  .hq {
    margin-bottom: 27px;
    padding: 0 16px;
  }
  .ops .subtitle {
    padding: 0 16px;
  }
  .opsMap {
    width: 100%;
    height: 160px;
  }
  .cardsContainer {
    padding: 18px 16px 0 16px;
  }
}
