@value colors: "src/colors.css";
@value brandGreen from colors;
@value brandMetricGrey from colors;

.bar {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  height: 2px;
  width: 166px;
  border-radius: 1px;
  padding: 8px 0;
  cursor: pointer;
}

.green {
  background-color: brandGreen;
}

.grey {
  background-color: #CAD1D8;
}

.tooltip {
  z-index: 2;
  position: absolute;
  top: -36px;
  background-color: #EDF1F5;
  text-align: center;
  font-family: 'roboto-700', sans-serif;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
}

.tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #EDF1F5 transparent transparent transparent;
}
