@value colors: "src/colors.css";
@value brandGreen from colors;
@value brandMetricGrey from colors;

.container {
  display: flex;
  flex-direction: row;
  justify-content: row;
  position: relative;
  height: 3px;
  width: 20%;
  border-radius: 1px;
  justify-content: center;
  padding: 8px 3px;
  background-clip: content-box;
}

.green {
  background-color: brandGreen;
}

.grey {
  background-color: brandMetricGrey;
}

.modal {
  z-index: 2;
  position: absolute;
  top: -50px;
  color: black;
  background-color: brandMetricGrey;
  text-align: center;
}
