@value colors: "src/colors.css";
@value weakShadow, strongShadow, brandGreen from colors;

.loader {
  position: absolute;
  z-index: 4;
  left: 50vw;
  top: 20vh;
}

.tableWrapper {
  padding: 2px 11px 100px 11px;
  /*height: 100%;*/
  background-color: #F6F8FA;
  box-shadow: inset 0px 10px 30px 0px rgba(37, 38, 50, 0.04);
}

.searchContainer {
  height: 65px;
}

.cta {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 13px;
  color: #3DC587;
  letter-spacing: 0.35px;
  line-height: 16px;
  transition: all .15s linear;
}

.cta:hover {
  cursor: pointer;
  color: #13A68C;
}

.verifiedInfo {
  background-image: url('assets/img/moreinfo.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 0 -3px 6px;
  width: 13px;
  height: 14px;
  display: inline-block;
}

.tooltip {
  z-index: 2;
  position: absolute;
  top: 30px;
  background-color: #EDF1F5;
  text-align: center;
  font-family: 'roboto-700', sans-serif;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
  padding: 10px;
  max-width: 140px;
  white-space: pre-wrap;
  line-height: 18px;
}

.tooltip:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: rotate(180deg);
  margin-left: -17px;
  border-width: 5px;
  border-style: solid;
  border-color: #EDF1F5 transparent transparent transparent;
}

.checkmark {
  display: flex;
  margin-top: -3px;
}

.tableWrapper .ReactTable .rt-thead.-header {
  box-shadow: none !important;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .tableWrapper {
    padding: 15px 8px 100px 8px;
  }
}

@media screen and (max-width: 767px) {
  .tableWrapper {
    padding: 14px 0px 100px 0px;
  }
}
