@value colors: "src/colors.css";
@value brandOffWhite, strongShadow from colors;

.orgCard {
  background-color: white;
  margin-bottom: 18px;
}

.orgCard:first-of-type {
  background-color: white;
  margin-top: 18px;
}

.orgCardFocused {
  cursor: pointer;
  box-shadow: 0px 40px 100px 0px strongShadow;
}

.name {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 28px;
  color: #141418;
  letter-spacing: 0;
  line-height: 30px;
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tagContainer {
  margin: 15px 0 12px 0;
}

.tag {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #808286;
  letter-spacing: 0.84px;
  line-height: 15px;
  background-color: #EDF1F5;
  padding: 3px 10px 2px 10px;
  border-radius: 2px;
  margin-right: 6px;
}

.desc {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.metricsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metric {
  display: flex;
  align-items: center;
}

.emptyMetric {
  display: flex;
  align-items: center;
  opacity: 0.2;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9F9F9F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 6px 16px 0 0;
}

.value {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 48px;
  color: #3DC587;
  letter-spacing: -0.1px;
  line-height: 62px;
}

.emptyMetric .value {
  color: #0F0F0F;
}

.emptyMetric .label {
  color: #0F0F0F;
}

@media screen and (min-width: 1440px) {
  .name {
    margin-bottom: 11px;
  }
  .descriptionContainer {
    padding: 32px 32px 18px 32px;
  }
  .metricsContainer {
    padding: 0 40px 30px 32px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 980px) {
  .name {
    margin-bottom: 11px;
  }
  .descriptionContainer {
    padding: 32px 32px 18px 32px;
  }
  .metricsContainer {
    padding: 0 32px 30px 32px;
  }
  .metric {
    flex-direction: column;
    align-items: start;
  }
  .emptyMetric {
    flex-direction: column;
    align-items: start;
  }
  .label {
    margin: 4px 0 0 0;
    order: 2;
  }
  .value {
    font-size: 42px;
    line-height: 54px;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .orgCard {
    height: 172px;
    min-width: 432px;
    box-sizing: border-box;
    margin: 0 8px;
    padding: 22px;
    border: 1px solid #E8E8E8;
    /*transition: .3s ease-out;*/
  }
  .orgCardFocused {
    height: 188px;
    box-shadow: unset;
  }
  .orgCard:first-of-type {
    margin-top: 0px;
  }
  .orgCard:hover {
    box-shadow: unset;
  }
  .name {
    font-size: 19px;
    line-height: 32px;
  }
  .tagContainer {
    margin: 11px 0 16px 0;
  }
  .desc {
    display: none;
  }
  .metricsContainer {
    padding: unset;
    padding-right: 43px;
  }
  .metric {
    flex-direction: column;
    align-items: start;
  }
  .emptyMetric {
    flex-direction: column;
    align-items: start;
  }
  .label {
    margin: 6px 0 0 0;
    order: 2;
  }
  .value {
    font-family: 'roboto-500', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.18px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .orgCard {
    height: 120px;
    min-width: 332px;
    box-sizing: border-box;
    margin: 0 6px;
    padding: 13px 18px 17px 20px;
    border: 1px solid #E8E8E8;
    opacity: .4;
  }
  .orgCardFocused {
    height: 120px;
    box-shadow: unset;
    opacity: 1;
  }
  .orgCard:first-of-type {
    margin: 0 6px 0 12px;
  }
  .orgCard:hover {
    box-shadow: unset;
  }
  .name {
    font-size: 16px;
    line-height: 32px;
  }
  .tagContainer {
    display: none;
  }
  .desc {
    display: none;
  }
  .metricsContainer {
    padding: 5px 0 0 0;
  }
  .metric {
    flex-direction: column;
    align-items: start;
  }
  .emptyMetric {
    flex-direction: column;
    align-items: start;
  }
  .label {
    margin: 3px 0 0 0;
    order: 2;
    font-size: 11px;
  }
  .value {
    font-family: 'roboto-500', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.18px;
    line-height: 18px;
  }
}
