// _buttons.scss

button {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  padding: 16px 46px 14px 46px;
}

.white {
  border: 1px solid $white;
  background-color: rgba(0,0,0,0.15);
  padding: 13px 42px 11px 42px;
  @include transition(opacity, .15s, linear);
  &:hover {
    opacity: .8;
  }
  a {
    color: $white;
  }
  a:active {
    color: $white;
  }
}

.solid-white {
  background-color: $white;
  @include box-shadow(0,10px,20px,0,0,0,0,0.04);
  @include transition(box-shadow, .15s, linear);
  &:hover {
    @include box-shadow(0,10px,20px,0,0,0,0,0.1);
  }
  a {
    color: $green;
  }
  a:active {
    color: $green;
  }
}

.green {
  border: 1px solid $green;
  background-color: $white;

  @include transition(box-shadow, .15s, linear);
  &:hover {
    @include box-shadow(0,10px,20px,0,0,0,0,0.08);
  }
  a {
    color: $green;
  }
  a:active {
    color: $green;
  }
}
