// _buttons.scss

button {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  padding: 16px 46px 14px 46px;
}

.white {
  border: 1px solid $white;
  background-color: rgba(0,0,0,0.15);
  padding: 13px 42px 11px 42px;
}

.solid-white {
  background-color: $white;
  color: $green;
  @include box-shadow(0,10px,20px,0,0,0,0,0.04);
}

.green {
  border: 1px solid $green;
  color: $green;
}