// _map-partial.scss

body {
  @include nunito-sans-200;
  height: 100vh;
}

header {
  height: 64px;
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 2;
  @include box-shadow(-15px,15px,30px,0,37,38,50,0.04);
  select {
    position: relative;
    bottom: 8px;
    @include nunito-sans-200;
    font-size: 15px;
    color: $grey-7;
    border: none;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/img/dropdown-arrow.svg) right no-repeat;
    padding-right: 15px;
    cursor: pointer;
  }
}

.marginalization-filter {
  margin-right: 30px;
}

a#logo{
  padding: 19px 28px 14px 0px;
  display: inline-block;
  border-right: 1px solid #F3F5F7;
  margin-right: 24px;
}

#beta {
  padding: 28px 0px 14px 19px;
  @include nunito-sans-800;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  float: right;
}

#map-container {
  width: 100%;
  height: calc(100% - 64px);
  display: block;
  position: relative;
}

#map {
  height: 100%;
  width: 75%;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, {
  z-index: 0;
}

div.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 20px 0 0 20px;
  @include box-shadow(0,20px,60px,0,37,38,50,0.15);
}

.mapboxgl-ctrl > button:last-child {
  display: none;
}

.mapboxgl-ctrl > button:nth-of-type(2) {
  border-bottom: 0;
}

.features {
  position: absolute;
  z-index: 1;
  width: 25%;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  @include box-shadow(-15px,15px,30px,0,37,38,50,0.04);
}

.features fieldset {
  border: 3px solid #ddd;
  padding: 10px;
}

.features input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 2px;
  height: 20px;
  margin: 0;
}

.features .list {
  overflow: auto;
  max-height: 100%;
}

.list-item {
  padding: 12px 16px;
  margin: 1px 0px;
  border-left: 3px solid;
  border-bottom: 1px solid #F3F5F7;
  height: 71px;
  @include box-sizing;
  cursor: pointer;
}

.dmg-unknown {
  border-left-color: #999;
}
.dmg-minimal {
  border-left-color: #ff0;
}
.dmg-low {
  border-left-color: #db0;
}
.dmg-medium {
  border-left-color: #d80;
}
.dmg-high {
  border-left-color: #dd4500;
}
.dmg-severe {
  border-left-color: #e00;
}

.list-item:hover {
  background: #f0f0f0;
}

.list-item-header {
  @include nunito-sans-200;
  color: $grey-7;
  font-size: 18px;
  line-height: 30px;
  max-width: 100%;
  @include text-overflow;
}

.list-item-metrics {
  font-size: 12px;
}

.list-item-metrics div {
  display: inline-block;
}

.list-item-metrics div:first-child {
  margin-right: 10px;
}

.list-item-metrics .label {
  @include nunito-sans;
  font-size: 12px;
  line-height: 16px;
  color: $grey-8;
  opacity: .4;
  margin-right: 2px;
}

.list-item-metrics .value {
  @include roboto-700;
  color: $grey-7;
  font-size: 13px;
  line-height: 12px;
}

.legend {
  position: absolute;
  width: 192px;
  z-index: 3;
  left: 20px;
  bottom: 20px;
  border-radius: 2px;
  background-color: #fff;
  @include box-sizing;
  @include box-shadow(0,40px,100px,0,37,38,50,.10);
}

.legend-header {
  @include nunito-sans-600;
  color: $grey-7;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.legend-header {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px 15px 0 15px;
}

.legend-items-container {
  padding: 0 15px 7px 15px;
}

.legend-item {
  margin-bottom: 6px;
}

.legend .label {
  @include nunito-sans;
  color: $grey-8;
  font-size: 12px;
  line-height: 16px;
  opacity: .4;
  text-transform: uppercase;
}

.legend .count {
  @include roboto-700;
  font-size: 13px;
  line-height: 20px;
  float: right;
}

.legend-footer {
  border-top: 1px solid #F3F5F7;
  @include nunito-sans-200;
  font-size: 15px;
  line-height: 30px;
  color: $grey-7;
  padding: 6px 15px 6px 15px;
}

.legend .circle {
  display: inline-block;
  margin-right: 7px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

div.mapboxgl-popup-content {
  padding: 15px;
}

.popup-header {
  @include nunito-sans-600;
  color: $grey-7;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.popup-item {
  margin-bottom: 3px;
}

.popup-label {
  @include nunito-sans;
  color: $grey-8;
  font-size: 12px;
  line-height: 16px;
  opacity: .4;
  text-transform: uppercase;
  margin-right: 16px;
  display: inline-block;
}

.popup-value {
  @include roboto-700;
  font-size: 13px;
  line-height: 20px;
  float: right;
}
