// _nav.scss

header {
  padding-top: 28px;
  margin-bottom: 102px;
}

#logo {
  padding-top: 6px;
  display: inline-block;
}

header li a {
  color: $white;
}

header ul {
  float: right;
}

footer {
  background-color: #F3F5F7;
}