// _sections.scss

// HERO

header {
  height: 100vh;
}

#hero-img-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  z-index: -1;
}

#hero-img {
  background: url(/assets/img/hero.jpg) no-repeat left;
  background-size: cover;
  height: 100vh;
}

// LOGO WALL

#logo-wall {
  padding: 46px;
  background-color: #F3F5F7;
  position: relative;
  z-index: -2;
}

#tanganica {
  background: url(/assets/img/tanganica.png) no-repeat;
  background-size: 89px 95px;
  width: 89px;
  height: 95px;
}

#reconstruir {
  background: url(/assets/img/reconstruir.png) no-repeat;
  background-size: 191px 36px;
  width: 191px;
  height: 36px;
  margin-top: 8px;
}

#socialtic {
  background: url(/assets/img/socialtic.png) no-repeat;
  background-size: 173px 25px;
  width: 173px;
  height: 25px;
  margin-top: 14px;
}

#opi {
  background: url(/assets/img/opi.png) no-repeat;
  background-size: 168px 29px;
  width: 168px;
  height: 29px;
  margin-top: 19px;
}

#tanganica, #reconstruir, #socialtic, #opi {
  display: inline-block;
}

// FEATURES

#feature1-img {
  background: url(/assets/img/feature1.png) no-repeat;
  background-size: 586px 624px;
  width: 586px;
  height: 624px;
}

#feature2-img {
  background: url(/assets/img/feature2.png) no-repeat;
  background-size: 627px 843px;
  width: 627px;
  height: 843px;
}

#feature3-img {
  background: url(/assets/img/feature3.png) no-repeat;
  background-size: 736px 455px;
  width: 736px;
  height: 455px;
}

// FOOTER

footer {
  #email, #git {
    margin-right: 20px;
    cursor: pointer;
    @include transition(opacity, .15s, linear);
    &:hover {
      opacity: .7;
    }
  }
}

#footer-img-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  z-index: 0;
}

#footer-img {
  background: url(/assets/img/footer.jpg) no-repeat left;
  background-size: cover;
}

// MAP

#map {
  display: block;
  width: 100vw;
  height: 88vh;
}
