.groupLabel {
  font-family: 'nunito-sans-500', sans-serif;
  font-size: 12px;
  color: #141418;
  letter-spacing: 0.4px;
  line-height: 21px;
  text-transform: capitalize;
  margin: 27px 0 13px 8px;
}

.video, .image {
  position: relative;
  float: left;
  cursor: pointer;
}

.video img {
  z-index: 1;
  position: relative;
}

.video:before {
  position: absolute;
  content: '';
  background-color: black;
  opacity: 0.45;
  z-index: 2;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px + 2px);
  left: calc(50% - 25px);
  border-radius: 50%;
}

.video:after {
  position: absolute;
  z-index: 3;
  content: '';
  margin: -13px -24px 0 0;
  border-width: 15px 9px 15px 9px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  top: 50%;
  left: 50%;
}

.selected img {
  border: 6px solid #3DC587;
  box-sizing: border-box;
}

.error {
  position: relative;
}

.errorText {
  color: #FF0000;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
  left: 120px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
