.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navSticky {
  flex: 1;
  margin-top: 50px;
  position: sticky;
  top: 100px;
  max-height: 400px; /* must be less than height of parent container*/
}

.nav {
  flex: 1;
  margin-top: 50px;
  top: 100px;
}

.innerNav {
  margin-left: 25px;
}

.content {
  flex: 3;
  margin-top: 50px;
  width: 100%;
}

.content > div {
  width: 100%;
}


@media screen and (max-width: 979px) and (min-width: 768px) {
  .nav {
    flex: 1;
  }
  .content {
    flex: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
