.container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.navSticky {
  flex: 1;
  margin-top: 50px;
  position: sticky;
  top: 100px;
  max-height: 400px; /* must be less than height of parent container*/
}

.nav {
  flex: 1;
  margin-top: 50px;
  top: 100px;
}

.innerNav {
  margin-left: 25px;
}

.content {
  flex: 3.5;
  margin-top: 50px;
}
