@value colors: "src/colors.css";
@value grey6, brandOffWhite from colors;

.hamburger {
  background: no-repeat url('assets/img/hamburger.svg') center right;
  width: 40px;
  height: 40px;
  display: inline-flex;
  margin-left: 23px;
  cursor: pointer;
}

.drawer {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100%;
  padding-left: 40px;
  margin-right: 58px;
  border-right: 1px solid brandOffWhite;
}

.children a {
  text-decoration: none;
  text-transform: capitalize;
  color: #141418;
  width: calc(100% - 2px);
  text-align: left;
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.children a:hover {
  color: #3DC587;
}

.children a:not(:last-of-type) {
  margin-bottom: 34px;
}

.hide {
  background: no-repeat url("assets/img/close.svg") top right;
  background-size: 14px 14px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 21px;
  color: black;
  cursor: pointer;
}

.drawerOverlay {
  display: none;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .drawer {
    width: 50vw;
  }
  .drawerOverlay {
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0.56;
    background-color: #1D1D1F;
    display: block;
  }
}


@media screen and (max-width: 767px) and (min-width: 0px) {
  .drawer {
    width: 100vw;
  }
}
