.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  z-index: 10;
  background-color: rgba(13,13,13,0.96);
}

.progressContainer {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 5;
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.26px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download {
  opacity: 0.3;
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
  letter-spacing: 1.26px;
  line-height: 20px;
  text-decoration: none;
  position: absolute;
  z-index: 5;
  left: 20px;
  bottom: 20px;
}

.download:hover {
  opacity: 1.0;
  color: #FFFFFF;
}

.divider {
  opacity: 0.3;
  margin: 0 14px;
}

.total {
  opacity: 0.3;
}

.closeButton {
  background: no-repeat url("assets/img/close-gallery.svg") center;
  background-size: 13px 13px;
  width: 73px;
  height: 73px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 11;
  opacity: 0.6;
}

.closeButton:hover {
  opacity: 1.0;
}

.outerBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerBox {
  height: 70%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerBox img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.5)
}

.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 27px;
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  color: #A5A5A5;
  letter-spacing: 1.26px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label:nth-of-type(1) {
  max-width: 50%;
}

.label:nth-of-type(2) {
  max-width: 40%;
}

.mapLink {
  color: #A5A5A5;
  text-decoration: none;
  background: url("assets/img/location-icon.svg") no-repeat;
  background-size: 12px 12px;
  background-position-y: 3px;
  padding-left: 23px;
  display: inline-block;
}

.description {
  margin-top: 12px;
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #686868;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .labelContainer {
    flex-direction: column;
  }
  .label {
    max-width: 100%;
  }
  .description {
    justify-content: flex-start;
  }
}
