.photo {
  position: relative;
  width: 80vw;
  height: 80vh;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.progress {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 5;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 5;
}
