@value colors: "src/colors.css";
@value brandOffWhite, grey7, weakShadow from colors;

.container {
  height: 65px;
  box-shadow: 15px 15px 30px 0px weakShadow;
  position: relative;
  z-index: 2;
}

.filter {
  font-size: 15px;
  font-family: 'nunito-sans-200', sans-serif;
  letter-spacing: 0.6px;
  color: grey7;
  background: no-repeat right url("assets/img/dropdown-arrow.svg");
  appearance: none;
  font-weight: 200;
  border: 0px;
  outline: 0px;
  margin-right: 20px;
  padding: 0 20px 0 0;
}

.search {
  background-color: #F5F7F9;
  border: none;
  padding: 10px 0 10px 10px;
}

.search::placeholder {
  font-family: 'roboto-500', sans-serif;
  font-size: 13px;
  letter-spacing: .52px;
  line-height: 12px;
  color: #CDCFD1;
}
