@value colors: "src/colors.css";
@value brandOffWhite, grey7, grey4, weakShadow from colors;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: relative;
  max-width: 60vw;
  padding: 14px 0 15px 0;
  z-index: 3;
}

.filter {
  min-width: 12vw;
  margin-right: 32px;
}

@media screen and (max-width: 979px) {
  .container {
    box-shadow: unset;
  }
}
