a {
  transition: all .15s linear;
}

a:hover {
  color: #13A68C;
}

.lowTransparency {

}

.midTransparency {

}

.highTransparency {

}

.transparency {
  font-size: 16px;
  margin-bottom: 20px;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #0F0F0F;
  opacity: 0.4;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 45%;
}

.donationsContainer {
  font-family: 'nunito-sans-300', sans-serif;
  font-size: 12px;
  color: #141418;
  line-height: 21px;
  letter-spacing: 0.4px;
  margin-top: 5px;
  border-collapse: separate;
  width: 100%;
  text-align: left;
}

.donationContainer {
  display: inline-flex;
  flex-direction: column;
  margin-right: 45px;
}

.donationContainer .label {
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}

.donation {
  margin-top: 5px;
}

.donorLink {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 12px;
  color: #141418;
  letter-spacing: 0.4px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 4px;
}

.donationAmt {
  font-family: 'nunito-sans-300', sans-serif;
  font-size: 12px;
  color: #141418;
  letter-spacing: 0.4px;
  line-height: 21px;
}

.datesContainer {
  display: inline-flex;
  flex-direction: column;
}

.datesContainer .label {
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}

.label {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #141418;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 10px;
}

.dates {
  font-family: 'nunito-sans-300', sans-serif;
  font-size: 12px;
  color: #141418;
  line-height: 21px;
  letter-spacing: 0.4px;
  margin-top: 5px;
  border-collapse: separate;
  width: 100%;
  text-align: left;
}

.name {
  font-family: 'nunito-sans-200', sans-serif;
  font-size: 48px;
  color: #141418;
  letter-spacing: -0.1px;
  line-height: 62px;
  margin-bottom: 19px;
}

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.fieldLabel {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 13px;
  color: #0F0F0F;
  letter-spacing: 0.35px;
  line-height: 16px;
  opacity: 0.4;
}

.mapMeta {
  margin-top: 20px;
  width: 150px;
}

.mapValue {
  font-family: 'roboto-500', sans-serif;
  font-size: 15px;
  color: #141418;
  letter-spacing: 0.18px;
  line-height: 18px;
  margin-bottom: 3px;
}

.mapLabel {
  opacity: 0.4;
  font-family: 'nunito-sans', sans-serif;
  font-size: 11px;
  color: #0F0F0F;
  letter-spacing: 0.37px;
  line-height: 16px;
}

.fieldValue {
  font-family: 'work-sans-300', sans-serif;
  font-size: 18px;
  color: #141418;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fieldValue a {
  color: #3DC587;
  text-decoration: none;
}

.opsMap {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  margin-top: 7px;
}

.subtitle {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  color: #434346;
  letter-spacing: 1.26px;
  line-height: 20px;
}

.ops .title {
  opacity: 0.4;
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #0F0F0F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ops .subtitle {
  font-family: 'work-sans-300', sans-serif;
  font-size: 18px;
  color: #141418;
  letter-spacing: 0;
  line-height: 32px;
}

.mission {
  font-family: 'work-sans-300', sans-serif;
  font-size: 18px;
  color: #141418;
  line-height: 32px;
}

.metricsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E1E7ED;
  padding-bottom: 33px;
  margin-bottom: 45px;
}

.metric {
  display: flex;
  align-items: center;
}

.emptyMetric {
  display: flex;
  align-items: center;
  opacity: 0.2;
}

.metricLabel {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #9F9F9F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 6px 16px 0 0;
}

.metricValue {
  font-family: 'nunito-sans-200';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 48px;
  color: #3DC587;
  letter-spacing: -0.1px;
  line-height: 62px;
}

.actionListContainer {
  background-color: #F6F8FA;
  padding: 0 0 0 21px;
}

.cardsContainer {
  background-color: #F6F8FA;
  display: flex;
  flex-direction: column;
}

.emptyMetric .metricValue {
  color: #0F0F0F;
}

.emptyMetric .metricLabel {
  color: #0F0F0F;
}

@media screen and (min-width: 1440px) {
  .breadcrumbLinks {
    margin: 13px 0 99px 0;
  }
  .summaryContainer {
    margin-bottom: 22px;
  }
  .mission {
    margin-bottom: 36px;
  }
  .buttonsContainer {
    margin-bottom: 37px;
  }
  .button:hover {
    background-color: #13A68C;
  }
  .ops {
    margin-top: 27px;
  }
  .ops .subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
  }
  .opsMap {
    width: 250px;
    height: 250px;
  }
  .donationContainer {
    margin-bottom: 38px;
  }
  .actionsContainer {
    margin-top: 100px;
  }
  .cardsContainer {
    padding: 21px 0 0 25px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 980px) {
  .breadcrumbLinks {
    margin: 13px 0 99px 0;
  }
  .summaryContainer {
    margin-bottom: 22px;
  }
  .mission {
    margin-bottom: 40px;
  }
  .buttonsContainer {
    margin-bottom: 37px;
  }
  .button {
    width: 72px;
    height: 72px;
  }
  .button:hover {
    background-color: #13A68C;
  }
  .ops {
    margin-top: 27px;
  }
  .ops .subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
  }
  .opsMap {
    width: 222px;
    height: 250px;
  }
  .actionsContainer {
    margin-top: 55px;
  }
  .cardsContainer {
    padding: 21px 0 0 25px;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .breadcrumbLinks {
    margin: 13px 0 97px 0;
  }
  .summaryContainer {
    margin-bottom: 22px;
  }
  .mission {
    margin-bottom: 40px;
  }
  .buttonsContainer {
    position: absolute;
    top: 102px;
    right: 19px;
  }
  .button {
    width: 72px;
    height: 72px;
  }
  .button:hover {
    background-color: #13A68C;
  }
  .metricsContainer {
    margin-bottom: 47px;
  }
  .ops {
    margin-top: 40px;
  }
  .opsMap {
    width: 370px;
    height: 128px;
  }
  .actionsContainer {
    margin-top: 55px;
  }
  .actionListContainer {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .breadcrumbLinks {
    padding: 0 16px;
    margin: 13px 0 44px 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .breadcrumbLinks .orgList {
    max-width: 25%;
  }
  .breadcrumbLinks .sector {
    max-width: 25%;
  }
  .breadcrumbLinks .orgDetail {
    max-width: 50% !important;
  }
  .name {
    padding: 0 16px;
  }
  .summaryContainer {
    padding: 0 16px;
    margin-bottom: 0px;
    justify-content: unset;
    flex-wrap: wrap;
  }
  .fieldContainer {
    margin: 0 40px 22px 0;
  }
  .mission {
    padding: 0 16px;
    margin-bottom: 40px;
  }
  .buttonsContainer {
    width: 100%;
    padding: 25px 20% 52px 20%;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F2F2F4;
    border-bottom: 1px solid #F2F2F4;
  }
  .button {
    width: 72px;
    height: 52px;
    background-color: white;
  }
  .button:after {
    position: relative;
    top: 100%;
    margin: 0 auto;
  }
  .website {
    background-image: url('assets/img/website-dark.svg');
  }
  .website:after {
    content: 'Web';
    font-family: 'nunito-sans', sans-serif;
    font-size: 12px;
    color: #3DC59F;
    letter-spacing: 0.4px;
    line-height: 16px;
  }
  .email {
    background-image: url('assets/img/email-dark.svg');
  }
  .email:after {
    content: 'Correo';
    font-family: 'nunito-sans', sans-serif;
    font-size: 12px;
    color: #3DC59F;
    letter-spacing: 0.4px;
    line-height: 16px;
  }
  .metricsContainer {
    padding-top: 23px;
    margin-bottom: 47px;
    border-top: 1px solid #F2F2F4;
    align-items: baseline;
  }
  .metric {
    flex-direction: column;
  }
  .emptyMetric {
    flex-direction: column;
  }
  .metricsContainer div:nth-child(1) {
    order: 2;
  }
  .metricsContainer div:nth-child(2) {
    order: 3;
    padding-right: 16px;
  }
  .metricsContainer div:nth-child(3) {
    order: 1;
    padding-left: 16px;
  }
  .metricsContainer div:nth-child(1) .metricValue {
    margin-bottom: 2px;
  }
  .metricsContainer div:nth-child(2) .metricLabel {
    color: #CFCFCF;
  }
  .metricsContainer div:nth-child(2) .metricValue {
    font-size: 24px;
    color: #9F9F9F;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 11px;
  }
  .metricsContainer div:nth-child(3) .metricLabel {
    color: #CFCFCF;
  }
  .metricsContainer div:nth-child(3) .metricValue {
    font-size: 24px;
    color: #9F9F9F;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 11px;
  }
  .metricLabel {
    order: 1;
    margin: 2px 0 0 0;
    text-align: center;
  }
  .ops .title {
    padding: 0 16px;
    margin: 17px 0 0 0;
  }
  .ops .subtitle {
    padding: 0 16px;
  }
  .opsMap {
    width: 100%;
    height: 160px;
  }
  .actionListContainer {
    padding: 0 16px 0 16px;
  }
  .label {
    text-align: left;
  }
  .donationContainer {
    margin-left: 16px;
    width: 100%;
    margin-right: 0px;
  }
  .datesContainer {
    margin-left: 16px;
    display: flex;
    margin-top: 16px;
  }
  .datesContainer .label {
    width: unset;
    margin-right: 6px;
  }
}
