@value colors: "src/colors.css";
@value weakShadow, strongShadow from colors;

@media screen and (max-width: 979px) {
  .legend {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    right: unset;
    bottom: unset;
    border-top: 1px solid brandOffWhite;
    box-shadow: 0 15px 30px 0 weakShadow;
    overflow-x: scroll;
    z-index: 4;
  }
}

.search {
  position: absolute;
  top: 17px;
  right: 12.5%;
}

.container {
  height: calc(100vh - 130px);
  position: relative;
}

.mapContainer {
  position: relative;
}

.mapContainer:before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 2;
  pointer-events: none;
  box-shadow: inset 15px 15px 30px 0px weakShadow;
}

.listContainer {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
}

.loader {
  position: absolute;
  z-index: 4;
  left: 50vw;
  top: 20vh;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .container {
    height: calc(100vh - 251px);
  }
  .listContainer {
    display: flex;
    flex-direction: row;
    height: 186px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    height: calc(100vh - 225px);
  }
  .listContainer {
    display: flex;
    flex-direction: row;
    height: 152px;
    align-items: center;
  }
}
