@value colors: "src/colors.css";
@value weakShadow, strongShadow from colors;

.search {
  position: absolute;
  top: 21px;
  right: 12.5%;
}

.filtersSmallScreen {
  position: absolute;
  width: 100vw;
  background-color: white;
}

.filtersSmallScreen:after {
  content: '';
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-image: linear-gradient(-180deg, rgba(246,248,250,0.00) 0%, #F6F8FA 100%);
}

.filterButton {
  cursor: pointer;
  font-family: 'nunito-sans-800', sans-serif;
  font-size: 11px;
  color: #3DC587;
  letter-spacing: 0.8px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.updateButton {
  position: absolute;
  left: 50%;
  margin-left: -128px;
  z-index: 5;
  bottom: 16px;
  background-color: #3DC59F;
  padding: 16px 46px;
  font-family: 'nunito-sans-800', sans-serif;
  font-size: 11px;
  color: white;
  letter-spacing: 0.8px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.updateButton:hover {
  background-color: #13A68C;
}

.updateButton:active {
  background-color: #13A68C;
}

.container {
  height: calc(100vh - 130px);
  position: relative;
}

.mapContainer {
  position: relative;
}

.mapContainer:before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 2;
  pointer-events: none;
  box-shadow: inset 15px 15px 30px 0px weakShadow;
}

.listContainer {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
}

.loader {
  position: absolute;
  z-index: 4;
  left: 50vw;
  top: 20vh;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .search {
    right: 6.5%;
  }
  .container {
    height: calc(100vh - 317px);
  }
  .listContainer {
    display: flex;
    flex-direction: row;
    height: 186px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .search {
    top: 1.75vh;
    right: 12.5%;
  }
  .container {
    height: 65vh;
  }
  .listContainer {
    display: flex;
    flex-direction: row;
    height: 19vh;
    align-items: center;
  }
}
