@value colors: "src/colors.css";
@value weakShadow from colors;

.map {
  width: 100vw;
  height: calc(100vh - 130px);
  position: relative;
}

.listContainer{
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 15px 15px 30px 0px weakShadow;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
}

.loader {
  position: absolute;
  z-index: 20;
  left: 50vw;
  top: 20vh;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .map {
    height: calc(100vh - 251px);
  }
  .listContainer {
    display: flex;
    flex-direction: row;
    height: 186px;
  }
}
