.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 6px;
  margin-top: 15px;
  text-decoration: none;
  display: table;
  cursor: pointer;
}

.question {
  font-size: 20px;
}
