@value colors: "src/colors.css";
@value grey3 from colors;

.formLogo {
  background: no-repeat url("assets/img/logo.svg") top right;
  background-size: 62px 20px;
  width: 62px;
  height: 20px;
  opacity: 0.2;
  margin-bottom: 26px;
}

.formHeader {
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  color: #2B2B2B;
  letter-spacing: 0;
  text-align: left;
  line-height: 24px;
  margin-bottom: 60px;
}

.formSubHeader {
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  color: rgba(0,0,0,0.87);
}

.formText {
  font-family: 'roboto', sans-serif;
  margin: -34px 0 40px 0;
  font-size: 16px;
  color: rgba(0,0,0,0.54);
  line-height: 24px;
}

.loader {
  position: absolute;
  left: 50vw;
  top: 20vh;
}

.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 13px;
  color: grey3;
  text-decoration: none;
  cursor: pointer;
  margin-right: 15px;
}

.field {
  margin-right: 15px;
  margin-bottom: 2px;
  width: 33.3% !important;
}

.dropdown {
  margin-top: -20px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  color: #2B2B2B;
  letter-spacing: 0;
  text-align: left;
  line-height: 24px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.row:last-of-type {
  margin-top: 30px;
}

.hidden {
  visibility: hidden;
}

.modal {
  background-color: rgba(255,255,255,0.97);
  padding: 20px;
  width: 80%;
  height: 90%;
}

.formContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.primaryButton {
  border-radius: 2px;
  box-shadow: unset !important;
}

.secondaryButton {
  margin: 26px 10px 0 0;
  border-radius: 2px;
  margin-right: 10px;
}

.wideInput {
  width: 95% !important;
}

.card {
  box-shadow: 0 10px 40px rgba(0,0,0,0.08);
  margin: 0px 25px 25px 0;
  padding: 30px;
}

.card:last-of-type {
  margin-bottom: 80px;
}

.toggle {
  display: inline-flex;
  margin-top: 15px;
  width: 70% !important;
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
    align-items: start;
  }
  .field {
    width: 100% !important;
  }
  .card {
    margin: 0 25px 25px 25px;
  }
  .wideInput {
    margin-left: unset;
    width: unset;
  }
}
