@value colors: "src/colors.css";
@value grey3 from colors;

.formHeader {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 23;
}

.formSubHeader {
  margin-top: -30px;
  margin-bottom: 40px;
  font-size: 16;
  color: grey3;
}

.loader {
  position: absolute;
  left: 50vw;
  top: 20vh;
}

.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 13px;
  color: grey3;
  text-decoration: none;
  cursor: pointer;
  margin-right: 15px;
}

.field {
  margin-left: 10px;
  margin-right: 10px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'roboto-600', sans-serif;
  margin-bottom: 15px;
  font-size: 23;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.modal {
  background-color: rgba(255,255,255,0.97);
  padding: 20px;
}

.formContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.wideInput {
  width: 65vw !important;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 70vw;
  margin-bottom: 50px;
  padding: 15px;
}

.card:last-of-type {
  margin-bottom: 80px;
}

.toggle {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .row {
    display: unset;
    flex-direction: unset;
  }

  .wideInput {
    margin-left: unset;
    width: unset;
  }
}
