@value colors: "src/colors.css";

.modalScreenWrapper {
  display: flex;
  width: 30vw;
  height: 90vh;
  margin: 0 auto;
  overflow: auto;
  align-items: center;
}

.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-decoration: none;
  display: table;
  cursor: pointer;
  transition: all .15s linear;
}

.link:hover {
  color: #13A68C;
}
