@value colors: "src/colors.css";

.modalScreenWrapper {
  display: flex;
  width: 30vw;
  height: 90vh;
  margin: 0 auto;
  overflow: auto;
  align-items: center;
}

.link {
  font-family: 'nunito-sans', sans-serif;
  font-size: 12px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-decoration: none;
  display: table;
  cursor: pointer;
  transition: all .15s linear;
}

.link:hover {
  color: #13A68C;
}

.linkRaw {
  color: #3DC59F;
  letter-spacing: 0.4px;
  text-decoration: none;
  display: table;
  cursor: pointer;
  transition: all .15s linear;
}

.linkRaw:hover {
  color: #13A68C;
}

@media screen and (max-width: 1439px) and (min-width: 980px) {
  .modalScreenWrapper {
    width: 40vw;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .modalScreenWrapper {
    width: 60vw;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .modalScreenWrapper {
    width: 90vw;
  }
}
