@value colors: "src/colors.css";
@value strongShadow from colors;

.container {
  display: inline-block;
  position: absolute;
  width: 152px;
  right: 26px;
  bottom: 26px;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 40px 100px 0 strongShadow;
  background-color: white;
}

.title {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.26px;
  color: #434346;
}

.legendItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 11px 0;
}

.legendItem div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 11px 2px 0;
}

.label {
  font-size: 12px;
  font-family: 'nunito-sans', sans-serif;
  color: #9F9F9F;
}

.count {
  font-family: 'roboto-500', sans-serif;
  font-size: 13px;
  color: #141418;
}
