@value colors: "src/colors.css";
@value strongShadow from colors;

.container {
  display: inline-block;
  position: absolute;
  width: 152px;
  right: 26px;
  bottom: 26px;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 40px 100px 0 strongShadow;
  background-color: white;
}

.title {
  font-family: 'nunito-sans-600', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.26px;
  color: #434346;
}

.legendItem {
  line-height: 16px;
  margin: 8px 0;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 11px;
}

.label {
  display: inline-block;
  font-size: 12px;
  font-family: 'nunito-sans', sans-serif;
  color: #9F9F9F;
}

.count {
  float: right;
  font-family: 'roboto-500', sans-serif;
  font-size: 13px;
  text-align: right;
  color: #141418;
}
