.legendItem {
  border: 1px solid red;
  font-weight: 800;
  font-family: 'din-bold', sans-serif;
}

.other {
  background-color: blue;
}

.circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
