body {
  margin: 0;
  padding: 0;
}

header {
  height: 40px;
  padding: 15px;
}

#map {
  height: 605px;
}

.map-overlay {
  position: absolute;
  width: 27.5%;
  top: 70px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
  font-size: 13px;
  font-family: 'nunito-sans', sans-serif;
}

.map-overlay fieldset {
  background: #ddd;
  border: none;
  padding: 8px;
  margin: 0;
}

.map-overlay input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 2px;
  height: 20px;
  margin: 0;
}

.map-overlay .list {
  overflow: auto;
  max-height: 100%;
}

.map-overlay .list > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
}

.list-item:hover {
  background: #f0f0f0;
}

.list-item-header {

}

.list-item-metrics {

}
