body {
  margin: 0;
  padding: 0;
}

header {
  height: 40px;
  padding: 15px;
}

#map {
  height: 605px;
}

.map-overlay {
  position: absolute;
  width: 27.5%;
  top: 70px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
  font-family: 'nunito-sans', sans-serif;
}

.map-overlay fieldset {
  background: #ddd;
  border: none;
  padding: 8px;
  margin: 0;
}

.map-overlay input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 2px;
  height: 20px;
  margin: 0;
}

.map-overlay .list {
  overflow: auto;
  max-height: 100%;
}

.list-item {
  padding: 12px 16px;
  margin: 1px 0px;
  border-left: 3px solid;
}

.dmg-unknown {
  border-color: #999;
}
.dmg-minimal {
  border-color: #ff0;
}
.dmg-low {
  border-color: #db0;
}
.dmg-medium {
  border-color: #d80;
}
.dmg-high {
  border-color: #dd4500;
}
.dmg-severe {
  border-color: #e00;
}

.list-item:hover {
  background: #f0f0f0;
}

.list-item-header {
  font-size: 15px;
  margin-bottom: 7px;
}

.list-item-metrics {
  font-size: 12px;
}

.list-item-metrics div {
  display: inline-block;
}

.list-item-metrics div:last-child {
  float: right;
}

.list-item-metrics .label {
  color: #999;
}

.list-item-metrics .value {
  font-weight: bold;
}
