@value colors: "src/colors.css";
@value weakShadow, strongShadow from colors;

.search {
  position: absolute;
  top: 17px;
  right: 12.5%;
}

.filterShadow {
  position: relative;
  z-index: 5;
  box-shadow: 15px 15px 30px 0px weakShadow;
}

.orgsContainer {
  background-color: #F6F8FA;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0 25px;
  height: 100%;
  position: relative;
  z-index: 2;
}

.container {
  height: calc(100vh - 130px);
  position: relative;
}

.mapContainer {
  position: relative;
}

.loader {
  position: absolute;
  z-index: 4;
  left: 50vw;
  top: 20vh;
}


@media screen and (max-width: 979px) and (min-width: 768px) {
  .container {
    height: calc(100vh - 283px);
  }
  .orgsContainer {
    background-color: white;
    overflow: scroll;
    flex-direction: row;
    align-items: center;
    height: 218px;
    padding: 0px;
    box-shadow: 0 0 100px 0 weakShadow;
  }
  .filterShadow {
    box-shadow: unset;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    height: calc(100vh - 225px);
  }
  .orgsContainer {
    background-color: white;
    overflow: scroll;
    flex-direction: row;
    align-items: center;
    height: 152px;
    padding: 0px;
    box-shadow: 0 0 100px 0 weakShadow;
  }
  .filterShadow {
    box-shadow: unset;
  }
}
