@value colors: "src/colors.css";
@value brandOffWhite, brandGreen, grey7, shadow from colors;

.container {
  box-sizing: border-box;
  border-bottom: 1px solid brandOffWhite;
}

.container a img {
  transition: all .15s linear;
}

.container a:hover img {
  opacity: 0.8;
}

.big a {
  font-family: 'nunito-sans-700', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  letter-spacing: .35px;
  margin-left: 27px;
  text-decoration: none;
  padding: 28px 0 26px 0;
  display: inline-block;
  color: #5A5A5D;
  transition: all .15s linear;
}

.big a:hover {
  color: brandGreen;
}

.button {
  cursor: pointer;
}

.big .button {
  border: 1px solid #5A5A5D;
  padding: 12px 0 10px 0;
  width: 110px;
  text-align: center;
  color: #5A5A5D;
}

.big .button:hover {
  border: 1px solid brandGreen;
}

@media screen and (min-width: 980px) {
  .big a img {
    margin-top: 3px;
  }
  .container {
    height: 65px;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .container {
    height: 73px;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .container {
    height: 73px;
  }
}
