@value colors: "src/colors.css";
@value brandOffWhite, grey7, shadow from colors;

.container {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-bottom: 1px solid brandOffWhite;
  align-items: center;
  justify-content: flex-end;
}

.nav {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 15px;
}

.nav a {
  margin-right: 30px;
  text-decoration: none;
}
