@value colors: "src/colors.css";
@value brandOffWhite, grey7, shadow from colors;

.container {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  align-items: center;
  box-shadow: -15px 15px 30px 0px shadow;
}

.logo {
  padding: 18px 0px;
  padding-right: 28px;
  border-right: 1px solid brandOffWhite;
  margin-right: 24px;
}

.beta {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.filter {
  font-size: 15px;
  color: grey7;
  background: no-repeat right url("assets/img/dropdown-arrow.svg");
  appearance: none;
  font-weight: 200;
  border: 0px;
  outline: 0px;
  margin-right: 20px;
  padding-right: 20px;
}
