.container {
  padding: 10px;
}

.header {
  font-family: 'roboto-500', sans-serif;
  font-size: 13px;
  color: #141418;
  display: flex;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.address {
  min-width: 180px;
  font-family: 'nunito-sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .4px;
  color: #9F9F9F;
}

.contact {
  margin-top: 15px;
}
